<div class="row">

  <div class="col-md-3"></div>
  <div class="col-md-5">
    <%= form_for(@user, url: signup_path) do |f| %>
    <%= render 'shared/error_messages' %>
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', placeholder: "Name" %>

    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control', placeholder: "Email" %>
    <%= f.select :gender, ['Male', 'Female']%>
    <%= f.label :birthday %>
    <%= f.date_field :birthday, class: 'form-control' %>
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control', placeholder: "Password" %>

    <%= f.label :password_confirmation, "Confirmation" %>
    <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "Password Confirm" %>

    <%= f.submit "Sign up", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
